/*
  font-family: "Hiragino Sans", "Yu Gothic", "Noto Sans CJK JP", sans-serif;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
*/

html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  margin: 0;
  background-image: url("ichigaya.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Hiragino Sans", "Yu Gothic", "Noto Sans CJK JP", sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
}

@media (max-width: 768px) {
  #root {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  #root {
    flex-direction: row;
  }
}

#nav {
  flex-grow: 0;
  display: flex;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
  font-weight: 200;
  color: #ffffff;
  filter: drop-shadow(0px 1px 0.75px #161616);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  #nav {
    flex-direction: row;
    width: 100%;
    padding: 0 18px;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 72px;
    flex-shrink: 0;
  }
}

@media (min-width: 768px) {
  #nav {
    flex-direction: column;
    padding: 24px 0;
    flex-basis: 72px;
    flex-shrink: 0;
  }

  #nav>* {
    writing-mode: vertical-rl;
  }
}

#nav>* {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

#nav h1 {
  font-size: 36px;
  font-weight: inherit;
  color: inherit;
  flex-grow: 3;
}

#nav h2 {
  font-size: 22px;
  font-weight: inherit;
  color: inherit;
  flex-grow: 1;
  text-align: center;
}

#nav a {
  text-decoration: none;
}

#main-container {
  flex-grow: 1;
  font-size: 16px;
  background-color: white;
  padding: 24px;
  box-shadow: 0 0px 2.5px #1b1b1b7a;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  #main-container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #main-container {
    overflow-y: auto;
  }
}

#main {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

#main h1 {
  font-size: 30px;
  color: #353535;
  margin-bottom: 12px;
}

#main h2 {
  font-size: 24px;
  color: #353535;
  margin-top: 16px;
}

#main h2:first-child {
  color: #353535;
  margin-top: 0px;
}

#main p {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
}

#main code {
  font-family: "Monaco", "Consolas", "Source Code Pro", monospace;
  padding: 2px;
  /* background-color: #eeeeee; */
  border-radius: 2px;
}

#main pre {
  margin-top: 0px;
  margin-bottom: 0px;
  /* background-color: #eeeeee; */
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 2px;
  padding: 8px;
}

#main pre code {
  background-color: unset;
  padding: 0px;
  border-radius: 0px;
  font-size: 14px;
}

#main>*:last-child {
  margin-bottom: 0px;
}

.blog-id {
  color: #a7a7a7;
  font-weight: lighter;
}

.blog-date {
  color: #353535;
  font-size: 18px;
}