/* Global */

* {
  box-sizing: border-box;
}

:root {
  --light-color-1: #fff;
  --light-color-2: #23232a;
  --light-color-3: #979797;
  --dark-color-1: #23232a;
  --dark-color-2: #ffffff;
  --dark-color-3: #979797;
}

html {
}

body {
  /*border-top: 4px solid black;*/
  margin: 0;
  font-family: "Hiragino Sans", "Yu Gothic", "Noto Sans CJK JP", sans-serif;
  font-feature-settings: "pwid";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-color-1);
    color: var(--light-color-2);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-color-1);
    color: var(--dark-color-2);
  }
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}


/* Root */

#root {
  height: 100%;
}

#root>div {
  height: 100%;
  max-width: 1480px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #root>div {
  }
}

@media (min-width: 768px) {
  #root>div {
    display: flex;
    flex-direction: row;
  }
}


/* Navigation */

#nav {
  flex-grow: 0;
  font-weight: 200;
  word-break: keep-all;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
  height: fit-content;
  padding: 0 32px;
}

@media (max-width: 768px) {
  #nav {
    width: 100%;
  }

  #nav>* {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  #nav {
    position: sticky;
    top: 0;
  }
}

#nav a {
  transition: filter 0.25s;
  text-decoration: none;
}


/* Navigation - Logo */

#logo-container svg {
  width: 196px;
}

#logo-container {
  padding: 30px 18px 12px 18px;
  width: fit-content;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  #logo-container {
    background-color: var(--light-color-2);
  }

  #logo-container svg {
    color: var(--light-color-1);
  }
}

@media (prefers-color-scheme: dark) {
  #logo-container {
    background-color: var(--dark-color-2);
  }

  #logo-container svg {
    color: var(--dark-color-1);
  }
}


/* Navigation - Menu */

#menu {
  padding: 0;
  font-size: 20px;
  font-weight: inherit;

  --menu-color-1: hsl(0, 100%, 27%);
  --menu-color-2: hsl(25, 87%, 41%);
  --menu-color-3: hsl(50, 100%, 42%);
}

@media (prefers-color-scheme: light) {
  #menu {
    color: var(--light-color-2);
  }
}

@media (prefers-color-scheme: dark) {
  #menu {
    color: var(--dark-color-2);
  }
}

@media (max-width: 768px) {
  #menu {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
  }

  #menu>li {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  #menu {
    margin: 100px 0 0 16px;
  }
}

#menu>li {
  list-style: none;
}

@media (max-width: 768px) {
}

@media (min-width: 768px) {
  #menu>li {
    margin-top: 12px;
  }
}

#menu>li>a {
  transition: color .25s ease-in-out;
  position: relative;
  padding: 0 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#menu>li>a svg {
  transition: color .25s ease-in-out;
}

#menu>li>a::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0px;
  background: #060606;
  transition: height .25s ease-in-out;
}

#menu>li>a:hover::before {
  height: 100%;
}

@media (prefers-color-scheme: light) {
  #menu>li>a:hover, #menu>li>a:hover svg {
    color: var(--light-color-1);
  }
}

@media (prefers-color-scheme: dark) {
  #menu>li>a:hover, #menu>li>a:hover svg {
    color: var(--dark-color-1);
  }
}

#menu>li svg {
  width: 12px;
}

#menu>li:nth-child(1) svg {
  color: var(--menu-color-1);
}

#menu>li:nth-child(1)>a::before {
  background: var(--menu-color-1);
}

#menu>li:nth-child(2) svg {
  color: var(--menu-color-2);
}

#menu>li:nth-child(2)>a::before {
  background: var(--menu-color-2);
}

#menu>li:nth-child(3) svg {
  color: var(--menu-color-3);
}

#menu>li:nth-child(3)>a::before {
  background: var(--menu-color-3);
}


/* Navigation - Icons */

#icons {
  padding: 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

@media (max-width: 768px) {
  #icons {
    margin-top: 12px;
  }
}

@media (min-width: 768px) {
  #icons {
    margin: 16px 0 0 48px;
  }
}

#icons>li {
  list-style: none;
  margin-right: 6px;
}

#icons>li svg {
  stroke-width: 1.35px;
  width: 26px;
  height: 26px;
}


/* Main */

@media (max-width: 768px) {
  #main {
    width: 100%;
    padding: 12px;
  }
}

@media (min-width: 768px) {
  #main {
    padding: 24px 32px;
  }
}

#main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  font-size: 16px;
  overflow-x: auto;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  font-weight: 500;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
}

#main>h1,
#main>h2,
#main>h3,
#main>h4,
#main>h5,
#main>h6 {
  margin: 16px 0;
}

#main h1 {
  font-size: 30px;
}

#main h2 {
  font-size: 22px;
}

#main h3 {
  font-size: 20px;
}

#main h4 {
  font-size: 18px;
}

#main h5 {
  font-size: 16px;
}

#main h6 {
  font-size: 14px;
}

#main>p {
  margin: 16px 0;
  line-height: 1.9;
  text-align: justify;
}

#main table {
  margin: auto;
}

#main table thead {
  font-weight: bold;
  /* border-bottom: 1px solid #353535; */
}

#main table td {
  text-align: center;
}

#main code {
  font-family: "Monaco", "Consolas", "Source Code Pro", monospace;
  padding: 2px;
  border-radius: 2px;
  font-size: 14px;
}

#main pre {
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 2px;
  padding: 8px;
}

#main pre code {
  background-color: unset;
  padding: 0px;
  border-radius: 0px;
}

#main>*:last-child {
  margin-bottom: 0px;
}

#main ul {
  padding-left: 24px;
}

#main li {
  list-style: none;
}

#main li:before {
  content: "- ";
}

#main>*:first-child {
  margin-top: 0;
}

.log-id {
  font-weight: 300;
}

@media (prefers-color-scheme: light) {
  .log-id {
    color: var(--light-color-3);
  }
}

@media (prefers-color-scheme: dark) {
  .log-id {
    color: var(--dark-color-3);
  }
}


/* Main - Header */

#header {
  margin-bottom: 16px;
}

.meta {
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.meta>div {
  display: flex;
  align-items: center;
  gap: 8px;
}

#header svg {
  width: 20px;
  height: 20px;
}

#header svg {
  stroke-width: 1.35px;
}

@media (prefers-color-scheme: light) {
  .meta {
    color: var(--light-color-3);
  }
}

@media (prefers-color-scheme: dark) {
  .meta {
    color: var(--dark-color-3);
  }
}