/*
  font-family: "Hiragino Sans", "Yu Gothic", "Noto Sans CJK JP", sans-serif;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
*/

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Hiragino Sans", "Yu Gothic", "Noto Sans CJK JP", sans-serif;
  font-feature-settings: "pwid";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

#root {
  height: 100%;
}

#root>div {
  height: 100%;
  display: flex;
}

@media (max-width: 768px) {
  #root>div {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  #root>div {
    flex-direction: row;
  }
}

#nav {
  flex-grow: 0;
  display: flex;
  font-weight: 200;
  color: #ffffff;
  box-sizing: border-box;
  word-break: keep-all;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
  background-image: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.43180178637705774) 0px, rgba(0, 0, 0, 0.43180178637705774) 8px, rgba(0, 0, 0, 0.49985880150884066) 8px, rgba(0, 0, 0, 0.49985880150884066) 14px, rgba(0, 0, 0, 0.3411707915561905) 14px, rgba(0, 0, 0, 0.3411707915561905) 20px, rgba(0, 0, 0, 0.2946847876444872) 20px, rgba(0, 0, 0, 0.2946847876444872) 41px, rgba(0, 0, 0, 0.12011860758574966) 41px, rgba(0, 0, 0, 0.12011860758574966) 60px, rgba(0, 0, 0, 0.10504343013965228) 60px, rgba(0, 0, 0, 0.10504343013965228) 63px, rgba(0, 0, 0, 0.32696348955857835) 63px, rgba(0, 0, 0, 0.32696348955857835) 68px, rgba(0, 0, 0, 0.306617376689392) 68px, rgba(0, 0, 0, 0.306617376689392) 88px, rgba(0, 0, 0, 0.16195781796334469) 88px, rgba(0, 0, 0, 0.16195781796334469) 103px, rgba(0, 0, 0, 0.3714944839675108) 103px, rgba(0, 0, 0, 0.3714944839675108) 117px, rgba(0, 0, 0, 0.22857217609100944) 117px, rgba(0, 0, 0, 0.22857217609100944) 134px, rgba(0, 0, 0, 0.4550005066945557) 134px, rgba(0, 0, 0, 0.4550005066945557) 138px, rgba(0, 0, 0, 0.46771401892914416) 138px, rgba(0, 0, 0, 0.46771401892914416) 140px, rgba(0, 0, 0, 0.3598228662387935) 140px, rgba(0, 0, 0, 0.3598228662387935) 148px, rgba(0, 0, 0, 0.24380980074188446) 148px, rgba(0, 0, 0, 0.24380980074188446) 160px, rgba(0, 0, 0, 0.1474560728019172) 160px, rgba(0, 0, 0, 0.1474560728019172) 167px, rgba(0, 0, 0, 0.25683998970920635) 167px, rgba(0, 0, 0, 0.25683998970920635) 169px, rgba(0, 0, 0, 0.23490844747997025) 169px, rgba(0, 0, 0, 0.23490844747997025) 176px, rgba(0, 0, 0, 0.25802153349658336) 176px, rgba(0, 0, 0, 0.25802153349658336) 192px, rgba(0, 0, 0, 0.08435850528557964) 192px, rgba(0, 0, 0, 0.08435850528557964) 197px, rgba(0, 0, 0, 0.4253759858071403) 197px, rgba(0, 0, 0, 0.4253759858071403) 214px, rgba(0, 0, 0, 0.25234165709844164) 214px, rgba(0, 0, 0, 0.25234165709844164) 218px, rgba(0, 0, 0, 0.03810156997203912) 218px, rgba(0, 0, 0, 0.03810156997203912) 226px, rgba(0, 0, 0, 0.2715715852762028) 226px, rgba(0, 0, 0, 0.2715715852762028) 234px), repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.19169633283810933) 0px, rgba(0, 0, 0, 0.19169633283810933) 3px, rgba(0, 0, 0, 0.38488168721779215) 3px, rgba(0, 0, 0, 0.38488168721779215) 6px, rgba(0, 0, 0, 0.0547005514564472) 6px, rgba(0, 0, 0, 0.0547005514564472) 28px, rgba(0, 0, 0, 0.44006715578956884) 28px, rgba(0, 0, 0, 0.44006715578956884) 47px, rgba(0, 0, 0, 0.3134607068847225) 47px, rgba(0, 0, 0, 0.3134607068847225) 58px, rgba(0, 0, 0, 0.4919299492662676) 58px, rgba(0, 0, 0, 0.4919299492662676) 81px, rgba(0, 0, 0, 0.4818874587505105) 81px, rgba(0, 0, 0, 0.4818874587505105) 94px, rgba(0, 0, 0, 0.31272975510000983) 94px, rgba(0, 0, 0, 0.31272975510000983) 98px, rgba(0, 0, 0, 0.05293609848998687) 98px, rgba(0, 0, 0, 0.05293609848998687) 117px, rgba(0, 0, 0, 0.2341789748627245) 117px, rgba(0, 0, 0, 0.2341789748627245) 125px, rgba(0, 0, 0, 0.039862389143302035) 125px, rgba(0, 0, 0, 0.039862389143302035) 138px, rgba(0, 0, 0, 0.3047057399959365) 138px, rgba(0, 0, 0, 0.3047057399959365) 152px, rgba(0, 0, 0, 0.4892480180542673) 152px, rgba(0, 0, 0, 0.4892480180542673) 162px, rgba(0, 0, 0, 0.054930078221726075) 162px, rgba(0, 0, 0, 0.054930078221726075) 165px, rgba(0, 0, 0, 0.12237300216249969) 165px, rgba(0, 0, 0, 0.12237300216249969) 174px, rgba(0, 0, 0, 0.44567582211990947) 174px, rgba(0, 0, 0, 0.44567582211990947) 181px, rgba(0, 0, 0, 0.43524699228942537) 181px, rgba(0, 0, 0, 0.43524699228942537) 200px, rgba(0, 0, 0, 0.13753753324232382) 200px, rgba(0, 0, 0, 0.13753753324232382) 219px, rgba(0, 0, 0, 0.25316520047205854) 219px, rgba(0, 0, 0, 0.25316520047205854) 240px, rgba(0, 0, 0, 0.303132741625193) 240px, rgba(0, 0, 0, 0.303132741625193) 261px, rgba(0, 0, 0, 0.41521850472192434) 261px, rgba(0, 0, 0, 0.41521850472192434) 277px, rgba(0, 0, 0, 0.26183065384334386) 277px, rgba(0, 0, 0, 0.26183065384334386) 297px, rgba(0, 0, 0, 0.3737286639100121) 297px, rgba(0, 0, 0, 0.3737286639100121) 317px, rgba(0, 0, 0, 0.2749284530615077) 317px, rgba(0, 0, 0, 0.2749284530615077) 340px), repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.20066619770596694) 0px, rgba(0, 0, 0, 0.20066619770596694) 2px, rgba(0, 0, 0, 0.4300158506557862) 2px, rgba(0, 0, 0, 0.4300158506557862) 8px, rgba(0, 0, 0, 0.08055226820387262) 8px, rgba(0, 0, 0, 0.08055226820387262) 31px, rgba(0, 0, 0, 0.04137899829828229) 31px, rgba(0, 0, 0, 0.04137899829828229) 44px, rgba(0, 0, 0, 0.0544730516653249) 44px, rgba(0, 0, 0, 0.0544730516653249) 58px, rgba(0, 0, 0, 0.1759358901958386) 58px, rgba(0, 0, 0, 0.1759358901958386) 71px, rgba(0, 0, 0, 0.3157305977029992) 71px, rgba(0, 0, 0, 0.3157305977029992) 89px, rgba(0, 0, 0, 0.08032430488155395) 89px, rgba(0, 0, 0, 0.08032430488155395) 96px, rgba(0, 0, 0, 0.01856602484970904) 96px, rgba(0, 0, 0, 0.01856602484970904) 110px, rgba(0, 0, 0, 0.14794998627728684) 110px, rgba(0, 0, 0, 0.14794998627728684) 119px, rgba(0, 0, 0, 0.1996589763295305) 119px, rgba(0, 0, 0, 0.1996589763295305) 131px, rgba(0, 0, 0, 0.16637322750050398) 131px, rgba(0, 0, 0, 0.16637322750050398) 146px, rgba(0, 0, 0, 0.2410968828902864) 146px, rgba(0, 0, 0, 0.2410968828902864) 152px, rgba(0, 0, 0, 0.11273950630940943) 152px, rgba(0, 0, 0, 0.11273950630940943) 162px, rgba(0, 0, 0, 0.43310157118273335) 162px, rgba(0, 0, 0, 0.43310157118273335) 175px, rgba(0, 0, 0, 0.005571986351091351) 175px, rgba(0, 0, 0, 0.005571986351091351) 178px, rgba(0, 0, 0, 0.23982714337442246) 178px, rgba(0, 0, 0, 0.23982714337442246) 192px, rgba(0, 0, 0, 0.010809536693359822) 192px, rgba(0, 0, 0, 0.010809536693359822) 215px, rgba(0, 0, 0, 0.4771801586168802) 215px, rgba(0, 0, 0, 0.4771801586168802) 220px, rgba(0, 0, 0, 0.1338278486957677) 220px, rgba(0, 0, 0, 0.1338278486957677) 233px, rgba(0, 0, 0, 0.244212483030409) 233px, rgba(0, 0, 0, 0.244212483030409) 256px, rgba(0, 0, 0, 0.010538750171044997) 256px, rgba(0, 0, 0, 0.010538750171044997) 264px, rgba(0, 0, 0, 0.1357551966781741) 264px, rgba(0, 0, 0, 0.1357551966781741) 278px, rgba(0, 0, 0, 0.019258721260133227) 278px, rgba(0, 0, 0, 0.019258721260133227) 288px), repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.34922870844358067) 0px, rgba(0, 0, 0, 0.34922870844358067) 19px, rgba(0, 0, 0, 0.3298731816775611) 19px, rgba(0, 0, 0, 0.3298731816775611) 37px, rgba(0, 0, 0, 0.48483693942048683) 37px, rgba(0, 0, 0, 0.48483693942048683) 50px, rgba(0, 0, 0, 0.17643926425418965) 50px, rgba(0, 0, 0, 0.17643926425418965) 62px, rgba(0, 0, 0, 0.25714884972759544) 62px, rgba(0, 0, 0, 0.25714884972759544) 69px, rgba(0, 0, 0, 0.22154147638689126) 69px, rgba(0, 0, 0, 0.22154147638689126) 72px, rgba(0, 0, 0, 0.4090355587179997) 72px, rgba(0, 0, 0, 0.4090355587179997) 81px, rgba(0, 0, 0, 0.2003677598620353) 81px, rgba(0, 0, 0, 0.2003677598620353) 104px, rgba(0, 0, 0, 0.1976219893308402) 104px, rgba(0, 0, 0, 0.1976219893308402) 112px, rgba(0, 0, 0, 0.2898754199841785) 112px, rgba(0, 0, 0, 0.2898754199841785) 114px, rgba(0, 0, 0, 0.4892166407627431) 114px, rgba(0, 0, 0, 0.4892166407627431) 116px, rgba(0, 0, 0, 0.3893214165971517) 116px, rgba(0, 0, 0, 0.3893214165971517) 118px, rgba(0, 0, 0, 0.3755599646455531) 118px, rgba(0, 0, 0, 0.3755599646455531) 141px, rgba(0, 0, 0, 0.31351166048227763) 141px, rgba(0, 0, 0, 0.31351166048227763) 149px, rgba(0, 0, 0, 0.16553264668304007) 149px, rgba(0, 0, 0, 0.16553264668304007) 159px, rgba(0, 0, 0, 0.03350909753674264) 159px, rgba(0, 0, 0, 0.03350909753674264) 163px, rgba(0, 0, 0, 0.2217142921245912) 163px, rgba(0, 0, 0, 0.2217142921245912) 167px, rgba(0, 0, 0, 0.1906291665722636) 167px, rgba(0, 0, 0, 0.1906291665722636) 177px, rgba(0, 0, 0, 0.036900207590198186) 177px, rgba(0, 0, 0, 0.036900207590198186) 189px, rgba(0, 0, 0, 0.31356561706876274) 189px, rgba(0, 0, 0, 0.31356561706876274) 211px, rgba(0, 0, 0, 0.19585587491927264) 211px, rgba(0, 0, 0, 0.19585587491927264) 224px, rgba(0, 0, 0, 0.34942265844708115) 224px, rgba(0, 0, 0, 0.34942265844708115) 228px, rgba(0, 0, 0, 0.36846841503714794) 228px, rgba(0, 0, 0, 0.36846841503714794) 234px, rgba(0, 0, 0, 0.386663224782202) 234px, rgba(0, 0, 0, 0.386663224782202) 253px), linear-gradient(135deg, rgb(209 102 255), rgb(71 255 252));
  background-size: cover;
  background-position: center;
}

#nav a {
  transition: filter 0.25s;
}

#nav a:hover {
  filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.619));
}

@media (max-width: 768px) {
  #nav {
    flex-direction: row;
    width: 100%;
    padding: 0 18px;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 84px;
    flex-shrink: 0;
  }
}

@media (min-width: 768px) {
  #nav {
    flex-direction: column;
    padding: 18px 0;
    flex-basis: 124px;
    flex-shrink: 0;
  }

  #nav.top {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }

  #nav>* {
    writing-mode: vertical-rl;
  }
}

#nav>* {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

#nav h1 {
  font-size: 0px;
  flex-grow: 3;
}

@media (max-width: 768px) {
  #logo-vt {
    display: none;
  }

  #logo-hr {
    display: inline;
    height: 62px;
  }

  #logo-full {
    height: 62px;
  }
}

@media (min-width: 768px) {
  #logo-hr {
    display: none;
  }

  #logo-vt {
    display: inline;
    width: 72px;
  }

  #logo-full {
    height: 72px;
  }
}

#nav h2 {
  font-size: 24px;
  font-weight: inherit;
  color: inherit;
  flex-grow: 1;
  text-align: center;
}

#nav a {
  text-decoration: none;
}

#main-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  font-size: 16px;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  #main-container {
    background-color: white;
    color: #353535;
  }
}

@media (prefers-color-scheme: dark) {
  #main-container {
    background-color: #0f0f0f;
    color: white;
  }
}

@media (max-width: 768px) {
  #main-container {
    width: 100%;
    padding: 12px;
  }
}

@media (min-width: 768px) {
  #main-container {
    overflow-y: auto;
    padding: 24px;
  }

  body {
    overflow: hidden;
  }
}

#main {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

#main h1 {
  margin-top: 0;
  font-size: 30px;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  margin-top: 16px;
  font-weight: 500;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
}

#main h2 {
  font-size: 22px;
}

#main h3 {
  font-size: 20px;
}

#main h4 {
  font-size: 18px;
}

#main h5 {
  font-size: 16px;
}

#main h6 {
  font-size: 14px;
}

#main>*:first-child {
  margin-top: 0px;
}

#main>p {
  margin-top: 8px;
  margin-bottom: 0px;
  line-height: 1.9;
  text-align: justify;
}

#main table {
  margin: auto;
}

#main table thead {
  font-weight: bold;
  border-bottom: 1px solid #353535;
}

#main table td {
  text-align: center;
}

#main code {
  font-family: "Monaco", "Consolas", "Source Code Pro", monospace;
  padding: 2px;
  /* background-color: #eeeeee; */
  border-radius: 2px;
  font-size: 14px;
}

#main pre {
  /* background-color: #eeeeee; */
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 2px;
  padding: 8px;
}

#main pre code {
  background-color: unset;
  padding: 0px;
  border-radius: 0px;
}

#main>* {
  overflow-x: auto;
}

#main>p {
  overflow-x: visible;
}

#main>*:last-child {
  margin-bottom: 0px;
}

#main ul {
  padding-left: 24px;
}

#main li {
  list-style: none;
}

#main li:before {
  content: "- ";
}

.log-id {
  font-weight: 300;
}

@media (prefers-color-scheme: light) {
  .log-id {
    color: #a7a7a7;
  }
}

@media (prefers-color-scheme: dark) {
  .log-id {
    color: #a7a7a7;
  }
}

.log-date {
  font-size: 18px;
}