/*
  font-family: "Hiragino Sans", "Yu Gothic", "Noto Sans CJK JP", sans-serif;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
*/

html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Hiragino Sans", "Yu Gothic", "Noto Sans CJK JP", sans-serif;
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
}

@media (max-width: 768px) {
  #root {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  #root {
    flex-direction: row;
  }
}

#nav {
  flex-grow: 0;
  display: flex;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
  font-weight: 200;
  color: #ffffff;
  box-sizing: border-box;
  word-break: keep-all;
  background-image: url("ichigaya.jpg");
  background-size: cover;
  background-position: center;
}

#nav>*{
  filter: drop-shadow(0px 1px 1px #1c1c1cd6);
}

@media (max-width: 768px) {
  #nav {
    flex-direction: row;
    width: 100%;
    padding: 0 18px;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 84px;
    flex-shrink: 0;
  }
}

@media (min-width: 768px) {
  #nav {
    flex-direction: column;
    padding: 18px 0;
    flex-basis: 124px;
    flex-shrink: 0;
  }

  #nav>* {
    writing-mode: vertical-rl;
  }
}

#nav>* {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

#nav h1 {
  font-size: 0px;
  flex-grow: 3;
}

@media (max-width: 768px) {
  #logo-vt {
    display: none;
  }

  #logo-hr {
    display: inline;
    height: 62px;
  }
}

@media (min-width: 768px) {
  #logo-hr {
    display: none;
  }

  #logo-vt {
    display: inline;
    width: 72px;
  }
}

#nav h2 {
  font-size: 24px;
  font-weight: inherit;
  color: inherit;
  flex-grow: 1;
  text-align: center;
}

#nav a {
  text-decoration: none;
}

#main-container {
  flex-grow: 1;
  font-size: 16px;
  padding: 24px;
  box-shadow: 0 0px 2.5px #1c1c1cd6;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  #main-container {
    background-color: white;
    color: #353535;
  }
}

@media (prefers-color-scheme: dark) {
  #main-container {
    background-color: #0f0f0f;
    color: white;
  }
}

@media (max-width: 768px) {
  #main-container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #main-container {
    overflow-y: auto;
  }

  body {
    overflow: hidden;
  }
}

#main {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

#main h1 {
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 500;
}

#main h2 {
  font-size: 22px;
  margin-top: 16px;
  font-weight: 500;
}

#main h2:first-child {
  margin-top: 0px;
}

#main>p {
  margin-top: 8px;
  margin-bottom: 0px;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
}

#main table {
  margin: auto;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
}

#main table thead {
  font-weight: bold;
  border-bottom: 1px solid #353535;
}

#main table td {
  text-align: center;
}

#main code {
  font-family: "Monaco", "Consolas", "Source Code Pro", monospace;
  padding: 2px;
  /* background-color: #eeeeee; */
  border-radius: 2px;
  font-size: 14px;
}

#main pre {
  /* background-color: #eeeeee; */
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 2px;
  padding: 8px;
}

#main pre code {
  background-color: unset;
  padding: 0px;
  border-radius: 0px;
}

#main>* {
  overflow-x: auto;
}

#main>*:last-child {
  margin-bottom: 0px;
}

#main ul {
  padding-left: 24px;
}

#main li {
  list-style: none;
}

#main li:before {
  content: "- ";
}

.log-id {
  font-weight: 300;
}

@media (prefers-color-scheme: light) {
  .log-id {
    color: #a7a7a7;
  }
}

@media (prefers-color-scheme: dark) {
  .log-id {
    color: #a7a7a7;
  }
}

.log-date {
  font-size: 18px;
}