/* Global */

* {
  box-sizing: border-box;
}

:root {
  --font-sans: "Hiragino Sans", "Yu Gothic", "Noto Sans CJK JP", sans-serif;
  --font-serif: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
  --font-monospace: "Monaco", "Consolas", "Source Code Pro", monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-1: hsl(300, 100%, 99%);
    --color-2: hsl(300, 6%, 17%);
    --color-3: hsl(300, 8%, 59%);
    --color-4: hsl(300, 6%, 17%);
    --color-5: hsl(300, 14%, 80%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-1: hsl(300, 5%, 15%);
    --color-2: hsl(300, 100%, 99%);
    --color-3: hsl(300, 8%, 59%);
    --color-4: hsl(300, 8%, 7%);
    --color-5: hsl(300, 7%, 32%);
  }
}

body {
  /*border-top: 4px solid black;*/
  margin: 0;
  font-family: var(--font-sans);
  font-feature-settings: "pwid";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-color: var(--color-1);
  color: var(--color-2);
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}


/* Root */

#root {
  height: 100%;
  /* max-width: 1480px; */
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  #root {}
}

@media (min-width: 768px) {
  #root {
    display: flex;
    flex-direction: row;
  }
}


/* Bar */

#bar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--color-2);
  width: 100%;
  height: 6px;
  z-index: 1;
}


/* Navigation */

#nav {
  flex-grow: 0;
  font-weight: 200;
  word-break: keep-all;
  font-family: var(--font-serif);
  height: fit-content;
}

@media (max-width: 767px) {
  #nav {
    width: 100%;
  }

  #nav>* {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  #nav {
    position: sticky;
    top: 0;
    padding: 0 32px;
  }
}

#nav a {
  transition: filter 0.15s;
  text-decoration: none;
}


/* Navigation - Logo */

#logo-container svg {
  width: 196px;
}

#logo-container {
  padding: 30px 18px 12px 18px;
  width: fit-content;
  margin: 0 auto;
}

#logo-container {
  background-color: var(--color-2);
}

#logo-container svg {
  color: var(--color-1);
}


/* Navigation - Menu */

#menu {
  padding: 0;
  font-size: 20px;
  font-weight: inherit;

  --menu-color-1: hsl(0, 100%, 44%);
  --menu-color-2: hsl(25, 100%, 44%);
  --menu-color-3: hsl(50, 100%, 44%);
  --menu-color-4: hsl(75, 100%, 44%);
}

#menu {
  color: var(--color-2);
}

@media (max-width: 767px) {
  #menu {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
  }

  #menu>li {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  #menu {
    margin: 100px 0 0 16px;
  }
}

#menu>li {
  list-style: none;
}

@media (max-width: 767px) {}

@media (min-width: 768px) {
  #menu>li {
    margin-top: 12px;
  }
}

#menu>li>a {
  padding: 0 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transition: color .25s ease;
  position: relative;
}

#menu>li>a svg {
  transition: color .25s ease;
}

#menu>li>a::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 0px;
  transition: height .25s ease;
}

#menu>li>a:hover::before,
#menu>li>a.active::before {
  height: 100%;
}

#menu>li svg {
  width: 12px;
}

#menu>li:nth-child(1) svg {
  color: var(--menu-color-1);
}

#menu>li:nth-child(1)>a::before {
  background: var(--menu-color-1);
}

#menu>li:nth-child(2) svg {
  color: var(--menu-color-2);
}

#menu>li:nth-child(2)>a::before {
  background: var(--menu-color-2);
}

#menu>li:nth-child(3) svg {
  color: var(--menu-color-3);
}

#menu>li:nth-child(3)>a::before {
  background: var(--menu-color-3);
}

#menu>li:nth-child(4) svg {
  color: var(--menu-color-4);
}

#menu>li:nth-child(4)>a::before {
  background: var(--menu-color-4);
}

#menu>li>a:hover,
#menu>li>a:hover svg,
#menu>li>a.active,
#menu>li>a.active svg {
  color: var(--color-1);
}


/* Navigation - Icons */

#icons {
  padding: 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

@media (max-width: 767px) {
  #icons {
    margin-top: 12px;
  }
}

@media (min-width: 768px) {
  #icons {
    margin: 16px 0 0 48px;
  }
}

#icons>li {
  list-style: none;
  margin-right: 6px;
}

#icons>li svg {
  stroke-width: 1.35px;
  width: 26px;
  height: 26px;
}


/* Main */

@media (max-width: 767px) {
  #main {
    width: 100%;
    padding: 12px;
  }
}

@media (min-width: 768px) {
  #main {
    padding: 24px 32px;
  }
}

#main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  font-size: 16px;
  overflow-x: hidden;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  font-weight: 500;
  font-family: var(--font-serif)
}

#main>h1,
#main>h2,
#main>h3,
#main>h4,
#main>h5,
#main>h6 {
  margin: 0 0 8px 0;
}

#main h1 {
  font-size: 30px;
}

#main h2 {
  font-size: 22px;
}

#main h3 {
  font-size: 20px;
}

#main h4 {
  font-size: 18px;
}

#main h5 {
  font-size: 16px;
}

#main h6 {
  font-size: 14px;
}

#main>p {
  margin: 0 0 16px 0;
  line-height: 1.9;
  text-align: justify;
}

#main>.summary>* {
  margin-bottom: 6px;
}

#main table {
  margin: auto;
}

#main table thead {
  font-weight: bold;
  /* border-bottom: 1px solid #353535; */
}

#main table td {
  text-align: center;
}

#main code {
  background-color: var(--color-4);
  font-family: var(--font-monospace);
  padding: 2px;
  border-radius: 0px;
  font-size: 14px;
}

#main pre {
  margin: 0 0 16px 0;
  border-radius: 0px;
  padding: 12px;
  background-color: var(--color-4);
  overflow-x: auto;
}

#main pre code {
  background-color: unset;
  padding: 0px;
  border-radius: 0px;
}

#main>*:last-child {
  margin-bottom: 0px;
}

#main ul {
  padding-left: 24px;
}

#main li {
  list-style: none;
}

#main li:before {
  content: "- ";
}

#main hr {
  border: 0;
  height: 1px;
  margin: 12px 0;
  background-color: var(--color-5);
}

#main>img {
  display: block;
  margin: 0 auto 16px auto;
  width: 80%;
}

#main>.category {
  margin-bottom: 16px;
}

#main .math-block {
  overflow-x: auto;
}


/* Main - Header */

#main header {
  margin-bottom: 16px;
}

.meta {
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.meta>div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.meta svg {
  width: 20px;
  height: 20px;
  stroke-width: 1.35px;
}

.meta {
  color: var(--color-3);
}