/* Global */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  --font-sans: "Hiragino Sans", "Yu Gothic", "Noto Sans CJK JP", sans-serif;
  --font-sans-en: "Raleway", sans-serif;
  --font-serif: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif CJK JP", serif;
  --font-monospace: "Monaco", "Consolas", "Source Code Pro", monospace;
  --bar-height: 6px;
}

@media (prefers-color-scheme: light) {
  :root {
    /* h = 20 */
    /* background */
    --color-1: #fffefe;
    /* foreground */
    --color-2: #2e2a29;
    /* additional */
    --color-3: #9f9793;
    /* background of code */
    --color-4: var(--color-2);
    /* horizontal rule */
    --color-5: #d3cac5;
    /* background of logo */
    --color-6: var(--color-2);
    /* foreground of logo */
    --color-7: var(--color-1);
    /* border of logo */
    --color-8: #705751;
    /* foreground of code */
    --color-9: var(--color-1);
    /* calender cell */
    --color-10: hsl(12, 19%, 95%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* h = 230 */
    --color-1: #0a0c15;
    --color-2: #fafbff;
    --color-3: #555e89;
    --color-4: var(--color-6);
    --color-5: #282d43;
    --color-6: #111527;
    --color-7: var(--color-2);
    --color-8: #30364f;
    --color-9: var(--color-2);
    --color-10: #141829;
  }
}

body {
  /*border-top: 4px solid black;*/
  margin: 0;
  background-color: var(--color-1);
  color: var(--color-2);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
}

ol {
  margin: 0;
}

p {
  margin: 0;
}

.icon {
  display: contents;
}

.icon>svg {
  display: block;
}


/* Root */

#root {
  display: contents;
}


/* Common Layout */

body.common-layout {}

@media (max-width: 767px) {
  body.common-layout {}
}

@media (min-width: 768px) {
  body.common-layout {}

  #wrapper {
    display: flex;
    flex-direction: row;
    /* max-width: 1480px; */
    max-width: 1280px;
    margin: 0 auto;
  }
}


/* Common Layout - Bar */

#bar {
  position: sticky;
  top: 0;
  background-color: var(--color-6);
  width: 100%;
  min-width: 100%;
  height: var(--bar-height);
  border-bottom: 1px solid var(--color-8);
  z-index: 1;
}


/* Common Layout - Navigation */

#nav {
  margin-top: calc(-1 * var(--bar-height));
  flex-grow: 0;
  font-weight: 200;
  word-break: keep-all;
  font-family: var(--font-sans-en);
  height: fit-content;
  z-index: 1;
}

@media (max-width: 767px) {
  #nav {
    width: 100%;
  }

  #nav>* {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  #nav {
    position: sticky;
    top: 0;
    padding: 0 0 0 32px;
  }
}

#nav a {
  transition: filter 0.15s;
  text-decoration: none;
}

#top-container {
  width: 100%;
  display: flex;
}


/* Common Layout - Navigation - Logo */

#top-container>#logo-container {
  flex: auto;
}

#logo-block {
  margin-top: calc(var(--bar-height) - 1px);
  margin-left: auto;
  margin-right: auto;
  padding: 26px 16px 10px;
  width: fit-content;
  background-color: var(--color-6);
  color: var(--color-7);
  border: 1px solid var(--color-8);
  border-top: none;
  z-index: 1;
}

@media (max-width: 767px) {
  #logo-block {
    margin-left: 16px;
  }
}

#logo-block svg {
  width: 176px;
}

#top-container>#menu-button-container {
  flex: 0 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 24px;
}

@media (max-width: 767px) {
  #top-container>#menu-button-container {
    display: block;
  }
}

@media (min-width: 768px) {
  #top-container>#menu-button-container {
    display: none;
  }
}

#menu-button {
  cursor: pointer;
}

#menu-button svg {
  stroke-width: 1px;
  width: 32px;
  height: 32px;
}

/* Common Layout - Navigation - Menu */

#menu-container {
  width: 200px;
}

@media (max-width: 767px) {
  #menu-container {
    display: none;
  }

  #menu-container.visible {
    display: block;
  }
}

#menu {
  padding: 0;
  font-size: 20px;
  font-weight: inherit;
  color: var(--color-2);
  --menu-color-1: hsl(0, 86%, 43%);
  --menu-color-2: hsl(20, 86%, 43%);
  --menu-color-3: hsl(50, 86%, 43%);
  --menu-color-4: hsl(70, 86%, 43%);
  --menu-color-5: hsl(170, 86%, 43%);
  --menu-color-6: hsl(200, 86%, 43%);
  --menu-color-7: hsl(240, 95%, 64%);
}

@media (max-width: 767px) {
  #menu {
    width: fit-content;
    margin: 12px auto 0 auto;
  }

  #menu>li {
    margin-top: 8px;
  }
}

@media (min-width: 768px) {
  #menu {
    margin: 100px 0 0 8px;
  }

  #menu>li {
    margin-top: 12px;
  }
}

#menu>li {
  list-style: none;
}

#menu>li>a {
  padding: 2px 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transition: color .5s ease;
  position: relative;
}

#menu>li>a svg {
  transition: color .5s ease;
}

#menu>li>a::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  width: 0px;
  height: 100%;
  transition: width .5s ease;
}

#menu>li>a:hover::before,
#menu>li>a.active::before {
  width: 100%;
}

#menu>li svg {
  width: 12px;
}

#menu>li:nth-child(1) svg {
  color: var(--menu-color-1);
}

#menu>li:nth-child(1)>a::before {
  background: var(--menu-color-1);
}

#menu>li:nth-child(2) svg {
  color: var(--menu-color-2);
}

#menu>li:nth-child(2)>a::before {
  background: var(--menu-color-2);
}

#menu>li:nth-child(3) svg {
  color: var(--menu-color-3);
}

#menu>li:nth-child(3)>a::before {
  background: var(--menu-color-3);
}

#menu>li:nth-child(4) svg {
  color: var(--menu-color-4);
}

#menu>li:nth-child(4)>a::before {
  background: var(--menu-color-4);
}

#menu>li:nth-child(5) svg {
  color: var(--menu-color-5);
}

#menu>li:nth-child(5)>a::before {
  background: var(--menu-color-5);
}

#menu>li:nth-child(6) svg {
  color: var(--menu-color-6);
}

#menu>li:nth-child(6)>a::before {
  background: var(--menu-color-6);
}

#menu>li:nth-child(7) svg {
  color: var(--menu-color-7);
}

#menu>li:nth-child(7)>a::before {
  background: var(--menu-color-7);
}

#menu>li>a:hover,
#menu>li>a:hover svg,
#menu>li>a.active,
#menu>li>a.active svg {
  color: var(--color-1);
}


/* Common Layout - Navigation - Icons */

#icons {
  padding: 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

@media (max-width: 767px) {
  #icons {
    margin: 12px auto 0 auto;
  }
}

@media (min-width: 768px) {
  #icons {
    margin: 24px 0 0 36px;
  }
}

#icons>li {
  list-style: none;
  margin-right: 6px;
}

#icons>li svg {
  stroke-width: 1.35px;
  width: 25px;
  height: 25px;
}


/* Common Layout - Main */

#main {
  font-size: 16px;
  font-family: var(--font-sans);
  font-weight: 300;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  #main {
    width: 100%;
    padding: 12px;
  }
}

@media (min-width: 768px) {
  #main {
    padding: 24px 32px;
  }
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  font-weight: 500;
  font-family: var(--font-serif);
}

#main h1 {
  font-size: 30px;
}

#main h2 {
  font-size: 22px;
}

#main h3 {
  font-size: 20px;
}

#main h4 {
  font-size: 18px;
}

#main h5 {
  font-size: 16px;
}

#main h6 {
  font-size: 14px;
}

#main table {
  margin: auto;
}

#main table thead {
  font-weight: bold;
}

#main table td {
  text-align: center;
}

#main code {
  background-color: var(--color-4);
  color: var(--color-9);
  font-family: var(--font-monospace);
  padding: 2px;
  border-radius: 0px;
  font-size: 14px;
  word-break: break-all;
}

#main pre {
  margin: 0 0 16px 0;
  border-radius: 0px;
  padding: 12px;
  background-color: var(--color-4);
  overflow-x: auto;
}

#main pre code {
  background-color: unset;
  padding: 0px;
  border-radius: 0px;
}

#main ul {
  padding-left: 24px;
  margin-bottom: 12px;
}

#main ol {
  padding-left: 24px;
  margin-bottom: 12px;
}

#main ul li {
  list-style: none;
}

#main ul li:before {
  content: "- ";
}

#main hr {
  border: 0;
  height: 1px;
  margin: 12px 0;
  background-color: var(--color-5);
}

#main img {
  display: block;
  margin: 0 auto 16px auto;
  width: 80%;
}

#main .math-block {
  overflow-x: auto;
}

#main.invisible {
  opacity: 0;
}


/* Common Layout - Main - Knowledge */

#main .summary h2 {
  margin-bottom: 0;
}

#main .summary p,
#main .summary .meta {
  margin-bottom: 6px;
}

#main .summary p {
  line-height: 1.6;
}

#main .category {
  margin-bottom: 16px;
}


/* Common Layout - Main - Body */

#body>h1,
#body>h2,
#body>h3,
#body>h4,
#body>h5,
#body>h6 {
  margin: 24px 0 4px 0;
}

#body>p {
  margin: 0 0 16px 0;
  line-height: 1.9;
  text-align: justify;
}

#body>ul li,
#body>ol li {
  line-height: 1.9;
}

#body>*:first-child {
  margin-top: 0px;
}

#body>*:last-child {
  margin-bottom: 0px;
}


/* Common Layout - Main - Header */

#main header {
  margin-bottom: 16px;
}

.meta {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.meta>div {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.meta svg {
  width: 20px;
  height: 20px;
  stroke-width: 1.35px;
}

.meta {
  color: var(--color-3);
}

/* Common Layout - Main - Dictionary */

.dictionary-entry {
  margin-bottom: 12px;
}

.dictionary-entry .pos {
  font-family: var(--font-serif);
  font-style: italic;
}

.dictionary-entry .usage {
  font-weight: 500;
}

.dictionary-entry .head {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.dictionary-entry .senses {
  margin-left: 12px;
}


/* Common Layout - Main - Artwork */

.thumbnail-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.thumbnail img {
  height: 192px;
  border-radius: 2px;
}


/* Calender Graph */

.calender-graph {
  border-collapse: separate;
  border-spacing: 2px 2px;
  font-size: 12px;
  line-height: 1;
}

.cell {
  width: 14px;
  min-width: 14px;
  max-width: 14px;
  height: 14px;
  min-height: 14px;
  max-height: 14px;
  text-align: right;
}

.cell.week {
  width: initial;
  min-width: initial;
  max-width: initial;
}

.cell.filled {
  background-color: var(--color-10);
}


/* Novel Layout */

body.novel-layout {
  text-align: right;
  overflow-y: hidden;
  /* Temporal fix for Chrome */
  max-height: 100%;
  min-height: 100%;
  height: 100vh;
}

#novel-nav {
  text-align: left;
  position: fixed;
  right: 0;
  top: 0;
  padding: 12px;
  width: 100%;
  z-index: 1;
}

#novel-nav svg {
  stroke-width: 1.0px;
  width: 24px;
  height: 24px;
  display: inline-block;
}

#novel-main {
  writing-mode: vertical-rl;
  font-family: var(--font-serif);
  font-size: 20px;
  line-height: 2em;
  text-indent: 1em;
  padding: 32px 24px 24px 24px;
  text-align: justify;
  display: inline-block;
  height: 100%;
}


/* React Transition Group */

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}